@page "/"

@inherits IndexBase

<PageTitle>Tableau de bord</PageTitle>

@if (DataSource.Count() == 0) 
{
    <h3><em>Loading...</em></h3>
}
else
{
    <SfDashboardLayout @ref="@DashboardLayout" ID="DashBoardLayout" Columns="@Columns" MediaQuery="@MediaQuery" CellSpacing="@Spacing" CellAspectRatio="@Ratio" AllowResizing="true" ShowGridLines="true" AllowFloating="true" AllowDragging="true" EnablePersistence="true" DraggableHandle=".e-panel-header">
        <DashboardLayoutEvents Created="@Created" OnResizeStop="@OnResizeStop" OnWindowResize="@OnWindowResize" />
        <DashboardLayoutPanels>

            @try
            {
                    @foreach (PanelObject Panel in PanelData)
                    {
                        <DashboardLayoutPanel Id="@Panel.Id" Row="@Panel.Row" Column="@Panel.Column" SizeX="@Panel.SizeX" SizeY="@Panel.SizeY" MinSizeX="@Panel.MinSizeX" MinSizeY="@Panel.MinSizeY">
                            <HeaderTemplate><div>@Panel.Title</div></HeaderTemplate>
                            <ContentTemplate>
                                <div class="panel">
                                <DynamicComponent @ref="@componentReference" Type="@Panel.ComponentType" Parameters="@Panel.Parameters" />
                            </div>
                            </ContentTemplate>
                       </DashboardLayoutPanel>
                    }
            }
            catch(Exception ex)
            {
                    Logger.LogError($"Error in DashboardLayout loop: {ex.Message} {ex.StackTrace}");
            }
            

        </DashboardLayoutPanels>
    </SfDashboardLayout>

}

<style>

    /* Dashboard layout */

   .e-dashboardlayout {
        overflow: hidden;
   }

    .e-panel-header {
        text-align: center;
        padding:10px !important;
        height:auto !important;

    }

    .e-panel-content {
        text-align: center;
        padding-bottom: 20px;
    }

    .e-dashboardlayout.e-control .e-dashboard-gridline-table {
    }


    .panel {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }


    /* Grid Group T/A Component */
    .groupta {
        display: inline-block;
        border-radius: 50%;
        margin: auto;
        color: white;
        padding: 6px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    #actif {
        background-color: red;
    }

    #inactif {
        background-color: yellowgreen;
    }

    /* Localisation Map Component */

    .e-maps {
       
    }

    /* Markers  */
    .e-maps #Map_LayerIndex_0_MarkerGroup path:hover {
        cursor: pointer;
    }

    

</style>

