@page "/"

@inherits IndexBase

<PageTitle>Tableau de bord</PageTitle>

@if (DataSource.Count() == 0) 
{
    <div class="loading-circle-container">
        <div class="loading-circle">
        </div>
    </div>
}
else
{
  <div class="dashboard-container">
    <SfDashboardLayout @ref="@DashboardLayout" ID="DashBoardLayout" Columns="@Columns" MediaQuery="@MediaQuery" CellSpacing="@Spacing" CellAspectRatio="@Ratio" AllowResizing="true" ShowGridLines="true" AllowFloating="true" AllowDragging="true" EnablePersistence="true" DraggableHandle=".e-panel-header">
        <DashboardLayoutEvents Created="@Created" OnResizeStop="@OnResizeStop" OnWindowResize="@OnWindowResize" />
        <DashboardLayoutPanels>

            @try
            {
                    @foreach (PanelObject Panel in PanelData)
                    {
                        <DashboardLayoutPanel Id="@Panel.Id" Row="@Panel.Row" Column="@Panel.Column" SizeX="@Panel.SizeX" SizeY="@Panel.SizeY" MinSizeX="@Panel.MinSizeX" MinSizeY="@Panel.MinSizeY">
                            <HeaderTemplate><div>@Panel.Title</div></HeaderTemplate>
                            <ContentTemplate>
                                <div class="panel">
                                <DynamicComponent @ref="@componentReference" Type="@Panel.ComponentType" Parameters="@Panel.Parameters" />
                            </div>
                            </ContentTemplate>
                       </DashboardLayoutPanel>
                    }
            }
            catch(Exception ex)
            {
                    Logger.LogError($"Error in DashboardLayout loop: {ex.Message} {ex.StackTrace}");
            }
            

        </DashboardLayoutPanels>
    </SfDashboardLayout>
  </div>
}
