@page "/RangeComponent"
@inherits MainComponent<RangeComponent>

@* Diagramme dans le temps *@

@if (PastDataSource.Count() == 0)
{
    <h3><em>Loading...</em></h3>
}
else
{
    <div>

        <SfRangeNavigator @ref=rangeNavigator Theme="AppTheme" @bind-Value="@value" LabelPosition="AxisPosition.Outside" ValueType="Syncfusion.Blazor.Charts.RangeValueType.DateTime" Interval="1" IntervalType="RangeIntervalType.Years">
            <RangeNavigatorEvents Changed="OnRangeChanged"></RangeNavigatorEvents>
            <RangeNavigatorMajorGridLines Width="0"></RangeNavigatorMajorGridLines>
            <RangeNavigatorRangeTooltipSettings Enable="true" Format="yyyy/MM/dd" DisplayMode="TooltipDisplayMode.Always"></RangeNavigatorRangeTooltipSettings>
            <RangeNavigatorSeriesCollection>
                <RangeNavigatorSeries DataSource="@PastDataSource" Width="2" XName="@nameof(Station.DateTime)" Type="RangeNavigatorType.Area" YName="@nameof(Station.CentralProduction)">
                    <RangeNavigatorSeriesBorder  Width="2"></RangeNavigatorSeriesBorder>
                </RangeNavigatorSeries>
            </RangeNavigatorSeriesCollection>
        </SfRangeNavigator>
    </div>
    <div>
        <SfChart @ref="chartRangeNavigator" Theme="@AppTheme">
            <ChartArea><ChartAreaBorder Width="0" Color="transparent"></ChartAreaBorder></ChartArea>

            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" ZoomFactor="@ZF" ZoomPosition="@ZP">
                <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            </ChartPrimaryXAxis>
            <ChartPrimaryYAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Double">
                <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            </ChartPrimaryYAxis>

            <ChartSeriesCollection>
                <ChartSeries DataSource="@PastDataSource" XName="@nameof(Station.DateTime)" YName="@nameof(Station.CentralProduction)" Width="2" Type="ChartSeriesType.Spline">
                </ChartSeries>
            </ChartSeriesCollection>

            <ChartCrosshairSettings Enable="true" LineType="LineType.Vertical">
                <ChartCrosshairLine Color="transparent" Width="0"></ChartCrosshairLine>
            </ChartCrosshairSettings>

            <ChartTooltipSettings Enable="true" Format="${point.x} : <b>${point.y} mW</b>"></ChartTooltipSettings>
            <ChartLegendSettings Visible="false"></ChartLegendSettings>
        </SfChart>

    </div>
}


@code {

    // RangeNavigator
    public double ZF = 1;
    public double ZP = 0;
    public object value = new object[] { DateTime.Now, DateTime.Now.AddMonths(-12) }; // Initial selected range : 12 months from now

    public SfRangeNavigator? rangeNavigator;
    public SfChart? chartRangeNavigator;

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }

    // Changed event on RangeNavigator
    public void OnRangeChanged(ChangedEventArgs args)
    {
        ZF = args.ZoomFactor;
        ZP = args.ZoomPosition;
        StateHasChanged();
    }

}