@inject ILogger<RangeComponent> Logger

@* RANGE NAVIGATOR COMPONENT *@

@if (IsParentCreated)
{
    <div class="rangeContainer">
        <div class="rangeNavigator">
                <SfRangeNavigator @ref=RangeRef Id="rangeNav" Theme="@RangeTheme" @bind-Value="@value" LabelPosition="AxisPosition.Outside" ValueType="Syncfusion.Blazor.Charts.RangeValueType.DateTime" Interval="1" IntervalType="RangeIntervalType.Years" Width="100%" Height="100%" >

                    <RangeNavigatorEvents Changed="OnRangeChanged"></RangeNavigatorEvents>
                    <RangeNavigatorMajorGridLines Width="0"></RangeNavigatorMajorGridLines>
                    <RangeNavigatorRangeTooltipSettings Enable="true" Format="yyyy/MM/dd" DisplayMode="TooltipDisplayMode.Always"></RangeNavigatorRangeTooltipSettings>

                    <RangeNavigatorSeriesCollection>
                        <RangeNavigatorSeries DataSource="@DataSource" XName="@XName" YName="@YName" Width="2" Type="RangeNavigatorType.Area">
                            <RangeNavigatorSeriesBorder  Width="2"></RangeNavigatorSeriesBorder>
                        </RangeNavigatorSeries>
                    </RangeNavigatorSeriesCollection>

                </SfRangeNavigator>
        </div>

        <div class="rangeChart">
                <SfChart @ref="ChartRef" ID="rangeNavChart" Theme="@RangeTheme" Width="100%" Height="100%" >

                    <ChartArea><ChartAreaBorder Width="0" Color="transparent"></ChartAreaBorder></ChartArea>

                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" Interval="1" IntervalType="IntervalType.Months" ZoomFactor="@ZF" ZoomPosition="@ZP" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                    </ChartPrimaryXAxis>

                    <ChartPrimaryYAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Double">
                        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                    </ChartPrimaryYAxis>

                    <ChartCrosshairSettings Enable="true" LineType="LineType.Vertical">
                        <ChartCrosshairLine Color="transparent" Width="0"></ChartCrosshairLine>
                    </ChartCrosshairSettings>

                    <ChartTooltipSettings Enable="true" Format="${point.x} : <b>${point.y} mW</b>" ></ChartTooltipSettings>
                    <ChartLegendSettings Visible="false"></ChartLegendSettings>

                    <ChartSeriesCollection>
                        <ChartSeries DataSource="@DataSource" XName="@XName" YName="@YName" Width="2" Type="ChartSeriesType.Spline">
                        </ChartSeries>
                    </ChartSeriesCollection>

                </SfChart>
        </div>
    </div>

}

@code {

    private SfRangeNavigator? RangeRef;
    private SfChart? ChartRef;

    private bool IsParentCreated { get; set; }  // Initiate the render only if the parent has been created

    [Parameter] public Syncfusion.Blazor.Theme RangeTheme { get; set; } = Syncfusion.Blazor.Theme.Fluent;
    [Parameter] public IEnumerable<object> DataSource { get; set; } = new List<object>();

    private string XName = nameof(Station.DateTime);
    private string YName = nameof(Station.CentralProduction);

    private double ZF = 1;
    private double ZP = 0;
    private object value = new object[] { DateTime.Now, DateTime.Now.AddMonths(-12) }; // Initial selected range : 12 months from now


    protected override void OnInitialized()
    {
        base.OnInitialized();

    }

    // Changed event on RangeNavigator
    public void OnRangeChanged(ChangedEventArgs args)
    {
        ZF = args.ZoomFactor;
        ZP = args.ZoomPosition;

        InvokeAsync(() =>
        {
            StateHasChanged();
        });


    }

    public async void Refresh()
    {

        if (!IsParentCreated)
        {
            IsParentCreated = true;
            StateHasChanged();
        }
        //  Parent Layout is determined after a delay,
        //  a delay must be provided before refreshing the Range component
        await Task.Delay(500);

        try
        {
            if(RangeRef != null)
            {

                // Refreshing RangeNavigator two times for better render
                await RangeRef?.RefreshAsync();
                await RangeRef?.RefreshAsync();
            }

            if(ChartRef != null)
            {
                await ChartRef?.RefreshAsync();
            }

        }
        catch (Exception ex)
        {
            Logger.LogError($"Error trying to Refresh RangeComponent : {ex.Message}\n{ex.StackTrace}");
        }    
    }


}


<style>

.rangeContainer {
   height: inherit;
   width:inherit;
}
  
.rangeNavigator {
   height: 25%
}

.rangeChart {
   height: 75%
}

</style>