@using Syncfusion.Blazor.Buttons
@inherits NavMenuBase

<div id="nav-container">
    @*Initialize the Sidebar component*@
    
    <SfSidebar class="dockSidebar" @ref="SidebarRef" Width="200px" DockSize="50px" Target=".page-content" MediaQuery="@MaxWidth.ToString()" @bind-IsOpen="@SidebarToggle" OnClose="@OnClose" CloseOnDocumentClick="true" EnableDock="true" Type="@Type">
            <ChildContent>
                @*Toggle button for the sidebar*@
            <div><SfButton class="nav-toggler" CssClass="@ToggleClass" OnClick="@ToggleSidebarAsync"></SfButton></div>

            <nav class="nav-items">
                    @* Nav Links *@
                    <div class="nav-item">
                         <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                            <span class="syncfusion-blazor-icons syncfusion-blazor-icon-charts icons" aria-hidden="true"></span>
                            <span class="nav-text @ToggleClass">Tableau de bord</span>
                         </NavLink>
                    </div>
                    @try
                    {
                         @foreach (var station in DataProvider.GetMapDetails())
                            {
                                var path = "station/" + station.Name.Trim().ToString();

                                <div class="nav-item">
                                    <NavLink class="nav-link" href="@path" Match="NavLinkMatch.Prefix">
                                        <span class="syncfusion-blazor-icons syncfusion-blazor-icon-datagrid icons" aria-hidden="true"></span>
                                        <span class="nav-text  @ToggleClass">@station.Name</span>
                                    </NavLink>
                                </div>
                          }
                    }
                    catch (Exception ex)
                    {
                        Logger.LogError($"Error displaying sidebar links: {ex.Message}\n{ex.StackTrace}");
                    }
            
                </nav>
            </ChildContent>
     </SfSidebar>
</div>

