@using Syncfusion.Blazor.Buttons
@inherits NavMenuBase

<div id="nav-container">
    @*Initialize the Sidebar component*@
    
    <SfSidebar class="dockSidebar" @ref="SidebarRef" Width="200px" DockSize="50px" Target=".page-content" MediaQuery="@MaxWidth.ToString()" EnableDock="true" Type="SidebarType.Push" @bind-IsOpen="SidebarToggle" OnClose="@OnClose" CloseOnDocumentClick="true">
            <ChildContent>
                <nav class="flex-column">

                    @*Toggle button for the sidebar*@
                    <SfButton CssClass="@ToggleClass" OnClick="@ToggleSidebar" class="nav-toggler"></SfButton>

                    @* Nav Links *@
                    <div class="nav-item">
                         <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                            <span class="syncfusion-blazor-icons syncfusion-blazor-icon-charts" aria-hidden="true"></span>
                            <span class="nav-text @ToggleClass">Tableau de bord</span>
                         </NavLink>
                    </div>
                    @try
                    {
                        @if (DataSource.Count() != 0)
                        {
                            @foreach (var station in DataSource)
                            {
                                var path = "station/" + station.StationName.ToString();

                                <div class="nav-item">
                                    <NavLink class="nav-link" href="@path" Match="NavLinkMatch.Prefix">
                                        <span class="syncfusion-blazor-icons syncfusion-blazor-icon-datagrid" aria-hidden="true"></span>
                                        <span class="nav-text  @ToggleClass">@station.StationName</span>
                                    </NavLink>
                                </div>
                            }
                        }

                    }
                    catch (Exception ex)
                    {
                        Logger.LogError($"Error displaying navbar links: {ex.Message} {ex.StackTrace}");
                    }

                   

                    @* Scroll indicator when items overflow *@
                    <div class="scroll-indicator" onclick="scrollSideBar()"></div>
            
                </nav>
            </ChildContent>
     </SfSidebar>
</div>



<script>


    let Counter = 0;

    function scrollSideBar() {
        const sidebar = document.querySelector('.dockSidebar');
        const indicator = document.querySelector('.scroll-indicator');

        const previousScrollTop = sidebar.scrollTop;

        // Scroll down
        sidebar.scrollTop += 50;

        // Check if scrolling is still possible
        if (sidebar.scrollTop === previousScrollTop) {
            // Scrolling is not possible
            indicator.style.background = 'red';
            return;
        }

        // Check if scrolling by 50px is possible
        const remainingScrollHeight = sidebar.scrollHeight - sidebar.scrollTop;

        if (remainingScrollHeight <= sidebar.clientHeight) {
            // Scrolling by 50px is not possible
            indicator.style.background = 'blue';
            return;
        }
    
        // Calculate the new translateY value by adding 50px
        Counter += 50;
        indicator.style.transform = `translateX(-50%) translateY(${Counter}px)`;
    }
</script>