@using Syncfusion.Blazor.Buttons
@inherits NavMenuBase

<div id="control-section">
<div id="wrapper">
        @*Initialize the Sidebar component*@
        <SfSidebar class="dockSidebar" @ref="SidebarRef" Width="200px" DockSize="50px" Target=".page-content" MediaQuery="@MaxWidth.ToString()" EnableDock="true" Type="SidebarType.Push" @bind-IsOpen="SidebarToggle" OnClose="@OnClose" CloseOnDocumentClick="true" >
            <ChildContent>
                <nav class="flex-column">
                    @*Toggle button for the sidebar*@
                    <SfButton CssClass="@ToggleClass" OnClick="@ToggleSidebar" class="nav-toggler"></SfButton>

                    @* Nav Links *@
                    <div class="nav-item">
                         <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                            <span class="syncfusion-blazor-icons syncfusion-blazor-icon-charts" aria-hidden="true"></span>
                            <span class="nav-text @ToggleClass">Tableau de bord</span>
                         </NavLink>
                    </div>
                    @try
                    {
                        @if (DataSource.Count() != 0)
                        {
                            @foreach (var station in DataSource)
                            {
                                var path = "station/" + station.StationName.ToString();

                                <div class="nav-item">
                                    <NavLink class="nav-link" href="@path" Match="NavLinkMatch.Prefix">
                                        <span class="syncfusion-blazor-icons syncfusion-blazor-icon-datagrid" aria-hidden="true"></span>
                                        <span class="nav-text  @ToggleClass">@station.StationName</span>
                                    </NavLink>
                                </div>
                            }
                        }

                    }
                    catch (Exception ex)
                    {
                        Logger.LogError($"Error displaying navbar links: {ex.Message} {ex.StackTrace}");
                    }


                </nav>
            </ChildContent>
        </SfSidebar>
    @*Initialize the Toolbar component*@
    <SfToolbar CssClass="dockToolbar" Width="100%">
        <ToolbarItems>
                <ToolbarItem Align="ItemAlign.Right">
                <Template>
                        <span><img class="navbar-brand" alt="Logo" src="/images/ICONE-AXOR_BLANC.svg" /></span>
                    </Template>
            </ToolbarItem>
        </ToolbarItems>
    </SfToolbar>

</div>
</div>

